<p>header works!</p>

<header>
    <div class="navbar navbar-dark bg-success shadow-sm">
        
        <div class=Homecontainer>
            <div class="topnav">
                <img [src]='src'>
          
              <a class="active" routerLink="/home"><i class="bi bi-house-door-fill"></i>&nbsp;Home</a>
              <!-- <a routerLink="/about">Favourites</a> -->
            
             
              <a routerLink="/std"><i class="bi bi-book"></i>&nbsp;Course Details</a>
              <a routerLink="/tech"><i class="bi bi-book"></i>&nbsp;Finance Courses</a>
              <a routerLink="/fin"><i class="bi bi-book"></i>&nbsp;Tech Courses</a>
              <a routerLink="/write"><i class="bi bi-book"></i>&nbsp;Writing Courses</a>
            
        
              
        </div>
      
    </div>
</div>
</header>