<br>
<br><br>
<mat-tab-group dynamicHeight>
  <!-- #enddocregion dynamic-height -->
    <mat-tab label="Finance">
      <div class="example-large-box mat-elevation-z4">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTIkYSK8MmGIEqGxRGOnzaqv4iIiD1G6Ewm1Q&usqp=CAU">
      </div>
    </mat-tab>
    <mat-tab label="Stocks">
      <div class="example-large-box mat-elevation-z4">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTIkYSK8MmGIEqGxRGOnzaqv4iIiD1G6Ewm1Q&usqp=CAU">
      </div>
    </mat-tab>
    <mat-tab label="Savings">
      <div class="example-large-box mat-elevation-z4">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTIkYSK8MmGIEqGxRGOnzaqv4iIiD1G6Ewm1Q&usqp=CAU">
      </div>
    </mat-tab>
    <mat-tab label="Finance Resources">
      <div class="example-large-box mat-elevation-z4">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTIkYSK8MmGIEqGxRGOnzaqv4iIiD1G6Ewm1Q&usqp=CAU">
      </div>
    </mat-tab>
  </mat-tab-group>