<br>
<br><br>
<mat-tab-group dynamicHeight>
  <!-- #enddocregion dynamic-height -->
    <mat-tab label="Angular">
      <div class="example-large-box mat-elevation-z4">
        <img src="https://www.sipexe.com/assets/courses/Angular.jpg">
      </div>
    </mat-tab>
    <mat-tab label="Java">
      <div class="example-large-box mat-elevation-z4">
        <img src="https://www.sipexe.com/assets/courses/Angular.jpg">
      </div>
    </mat-tab>
    <mat-tab label="C">
      <div class="example-large-box mat-elevation-z4">
        <img src="https://www.sipexe.com/assets/courses/Angular.jpg">
      </div>
    </mat-tab>
    <mat-tab label="JavaScript">
      <div class="example-large-box mat-elevation-z4">
        <img src="https://www.sipexe.com/assets/courses/Angular.jpg">
      </div>
    </mat-tab>
    
  </mat-tab-group>